{% load static %}
<div class="copyright">
  <div class="row d-flex justify-content-center">
    <a href="https://github.com/gonzo-ponzo" class="header-link">
      <i class="bi bi-github"></i>gonzo-ponzo
    </a>
      </div>
  </div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>